/**
 * CSS rules for the external content approval box.
 */

.external-content-approval {
  width: 100%;
  max-width: 35rem;
  margin: 2rem auto;
  padding: 2.5rem 1.5rem;
  color: #fff !important;
  background-color: #3D5572;
  text-align:center;
}
.external-content-approval a {
  color: #fff !important;
  text-decoration: underline;
}
.open-dealroom-trigger,.open-dealroom-trigger:hover {
  background: rgba(0,0,0, 0.3) !important;
  color: #fff !important;
  border: 2px solid #fff;
  padding: .75rem 1rem;
  text-decoration: none !important;
  align-items: center;
  font-weight: 300;
  display: inline-block;
  line-height: inherit;
}
